<div class="mega-menu-images">
  {% for i in (1..6) %}
    <div
      class="mega-menu-image-set {% if forloop.first %}active{% endif %}"
      data-mega-image="{{ i }}"
    >
      {% assign img1 = block.settings['link_' | append: i | append: '_image_1'] %}
      {% assign img2 = block.settings['link_' | append: i | append: '_image_2'] %}

      <div class="mega-menu-image">
        {% if img1 %}
          <img src="{{ img1 | image_url: width: 600 }}">
        {% endif %}
      </div>

      <div class="mega-menu-image">
        {% if img2 %}
          <img src="{{ img2 | image_url: width: 600 }}">
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
