<!-- home-collection-list-custom.liquid -->
<section id="shopify-section-template--15724424528078__collection_list_8VnDgC" class="shopify-section shopify-section--collection-list">
  <style>
    /* your full CSS here */
  </style>
  <div class="section-spacing section-spacing--tight ">
    <div class="container">
      <div class="section-stack">
        <!-- your full collection list HTML here -->
      </div>
    </div>
  </div>
</section>



{% schema %}
{
  "name": "Custom Collection List",
  "settings": [],
  "presets": [
    {
      "name": "Custom Collection List Section"
    }
  ]
}
{% endschema %}

